[submodule "shell"]
	path = shell
	url = git@github.com:RexAckermann/shell.git
	branch = main
[submodule "rexlvim"]
	path = rexlvim
	url = git@github.com:RexAckermann/rexlvim.git
[submodule "autowallp"]
	path = autowallp
	url = git@github.com:RexAckermann/autowallp.git
[submodule "rexdoom"]
	path = rexdoom
	url = git@github.com:RexAckermann/rexdoom.git
